@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  background-image: url("https://wallpaper.dog/large/5567668.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position-x: right;
  background-position-y: bottom;
  background-color: #ffea39;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  color: white;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
  color: white;
}

.left-panel {
  width: 50%;
  height: 500px;
  color: white;
  float: left;
  padding: 10px;
  display: table;
}

.left-panel .intro-text {
  font-size: 20px;
  line-height: 1.5;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.right-panel {
  border-radius: 10px;
  width: 50%;
  height: 450px;
  background-color: #0075be;
  float: left;
  padding: 0px 15px;
  border: solid 2px #2a75bb;
  color: white;
  position: relative;
}

.right-panel h1 {
  text-align: center;
  font-size: 2rem;
}

.right-panel .text-field input {
  background-color: #0075be;
  color: white;
  border: 5px solid white;
}

.right-panel .text-field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.right-panel .text-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.right-panel .text-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.right-panel .text-field label {
  color: white;
  font-style: bold;
}

.right-panel .sign-in-btn {
  border-radius: 10px;
  border: 1px solid #fb1b1b;
  background-color: #fb1b1b;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px;
}

.right-panel .register-link {
  color: red;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  position: relative;
  width: calc(20% - 10px);
  background-color: #f4f4f4;
  border: solid 1px lightgray;
  padding: 10px;
  margin: 5px;
}

.card-container .card .card-name {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container .card button {
  all: unset;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: lightgreen;
}

.card-container .card .hidden {
  display: none;
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
}

.collection-container .card {
  position: relative;
  width: calc(20% - 10px);
  background-color: #f4f4f4;
  border: solid 1px lightgray;
  padding: 10px;
  margin: 5px;
}

.collection-container .card .card-name {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-container .card .update {
  all: unset;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  position: absolute;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: lightgreen;
}

.collection-container .card .delete {
  all: unset;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: lightcoral;
}

.collection-container .card .hidden {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  line-height: 1;
  align-content: center;
}

.head .hair .hair-1 {
  background-color: brown;
}

.head .hair .hair-2 {
  background-color: brown;
}

.head .hair .hair-3 {
  background-color: grey;
}

.head .eyes .left-eye .eye-color {
  background-color: blue;
}

.head .eyes .right-eye .eye-color {
  background-color: blue;
}

.head .mouth .lips {
  background-color: red;
}

.head .mouth .teeth .teeth-1 {
  background-color: lightyellow;
}

.head .mouth .teeth .teeth-2 {
  background-color: lightyellow;
}

.head .mouth .teeth .teeth-3 {
  background-color: lightyellow;
}

.head .mouth .teeth .teeth-4 {
  background-color: lightyellow;
}

.legs .left-leg {
  height: 1000px;
  width: 100px;
}

.legs .right-leg {
  height: 1000px;
  width: 100px;
}

/*# sourceMappingURL=style.css.map */