@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  background-image: url("https://wallpaper.dog/large/5567668.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position-x: right;
  background-position-y: bottom;
  background-color: #ffea39;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
}

nav a,
nav button {
  padding: 1em 0;
  border: 0;
}

nav a:not(:last-child),
nav button:not(:last-child) {
  margin-right: 1em;
}

nav a:first-child,
nav button:first-child {
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  color: white;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
  color: white;
}

.left-panel {
  width: 50%;
  height: 500px;
  color: white;
  float: left;
  padding: 10px;
  display: table;
}

.left-panel .intro-text {
  font-size: 20px;
  line-height: 1.5;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

.left-panel .intro-text span {
  color: #0075be;
  font-family: 'Pokemon';
  font-size: 30px;
}

.right-panel {
  border-radius: 10px;
  width: 50%;
  height: 450px;
  background-color: #0075be;
  float: left;
  padding: 0px 15px;
  border: solid 2px #2a75bb;
  color: white;
  position: relative;
}

.right-panel h1 {
  text-align: center;
  font-size: 2rem;
}

.right-panel .text-field input {
  background-color: #0075be;
  color: white;
  border: 5px solid white;
}

.right-panel .text-field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.right-panel .text-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.right-panel .text-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.right-panel .text-field label {
  color: white;
  font-style: bold;
}

.right-panel .sign-in-btn {
  border: 1px solid #fb1b1b;
  background-color: #fb1b1b;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.right-panel .not-a-member {
  font-style: italic;
  margin-top: 0px;
  text-align: center;
}

.right-panel .register-link {
  color: white;
  border-bottom: 3px solid #fb1b1b;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container .card {
  position: relative;
  width: calc(20% - 10px);
  background-color: #f4f4f4;
  border: solid 1px lightgray;
  padding: 10px;
  margin: 5px;
}

.card-container .card .card-name {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.card-container .card button {
  all: unset;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: lightgreen;
}

.card-container .card .hidden {
  display: none;
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
}

.collection-container .card {
  position: relative;
  width: calc(20% - 10px);
  background-color: #f4f4f4;
  border: solid 1px lightgray;
  padding: 10px;
  margin: 5px;
}

.collection-container .card .card-name {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.collection-container .card .update {
  all: unset;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  position: absolute;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: lightgreen;
}

.collection-container .card .delete {
  all: unset;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  line-height: 1;
  cursor: pointer;
  background-color: lightcoral;
}

.collection-container .card .hidden {
  display: none;
}

.sign-up button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.sign-up-container {
  border-radius: 10px;
  width: 100%;
  height: 710px;
  background-color: #0075be;
  float: left;
  padding: 0px 15px;
  border: solid 2px #2a75bb;
  color: white;
  position: relative;
}

.sign-up-container h1 {
  text-align: center;
  font-size: 2rem;
}

.sign-up-container .text-field input {
  background-color: #0075be;
  color: white;
  border: 5px solid white;
}

.sign-up-container .text-field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.sign-up-container .text-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.sign-up-container .text-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.sign-up-container .text-field select {
  background-color: #0075be;
  color: white;
  border: 5px solid white;
}

.sign-up-container .text-field select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.sign-up-container .text-field select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.sign-up-container .text-field select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.sign-up-container .text-field label {
  color: white;
  font-style: bold;
}

.sign-up-container .sign-in-btn {
  border: 1px solid #fb1b1b;
  background-color: #fb1b1b;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.search-container {
  border-radius: 10px;
  width: 100%;
  color: white;
  position: relative;
}

.search-container h1 {
  text-align: center;
  font-size: 2rem;
}

.search-container .text-field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.search-container .text-field .left-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.search-container .text-field .right-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.search-container .text-field input {
  background-color: #0075be;
  color: white;
  border: 5px solid white;
}

.search-container .text-field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.search-container .text-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.search-container .text-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.search-container .text-field select {
  background-color: #0075be;
  color: white;
  border: 5px solid white;
}

.search-container .text-field select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.search-container .text-field select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.search-container .text-field select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.search-container .text-field label {
  color: white;
  font-style: bold;
}

.search-container .sign-in-btn {
  border: 1px solid #fb1b1b;
  background-color: #fb1b1b;
  color: white;
  border: 5px solid white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .collection-container .card {
    position: relative;
    width: calc(50% - 10px);
    background-color: #f4f4f4;
    border: solid 1px lightgray;
    padding: 10px;
    margin: 5px;
  }
  .card-container .card {
    position: relative;
    width: calc(50% - 10px);
    background-color: #f4f4f4;
    border: solid 1px lightgray;
    padding: 10px;
    margin: 5px;
  }
}

/*# sourceMappingURL=style.css.map */