@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-sans: 'Roboto', sans-serif;
$grey: hsl(0, 0, 90%);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
  background-image: url('https://images6.fanpop.com/image/photos/40000000/Pokemon-Background-Designs40-earn-gold-here-40015982-1920-1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  
}



a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  // border-bottom-style: solid;
  // border-bottom-color: black;
  // border-bottom-width: 0,1px;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  color: white;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
  color: white;
}

.left-panel {
  width: 50%;
  height: 500px;
  color: white;
  float: left;
  padding: 10px;
  display: table;

  .intro-text {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    display: table-cell;
    vertical-align: middle;
  }
}

.right-panel {
  border-radius: 10px;
  width: 50%;
  height: 450px;
  background-color: #0075be;
  float: left;
  padding: 10px;
  border: solid 2px #2a75bb;
  color: white;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  position: relative;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }

  h2 {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    a {
      text-decoration: underline;
      text-decoration-color: #fb1b1b;
    }
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
   
    
    input {
      padding: 10px 1px 10px;
      border: 4px solid white;
      margin: 0 1.5rem;
      background-color: transparent;
      color:white;
    }
  }

  .sign-in-btn {
    border-radius: 10px;
    border: 1px solid #fb1b1b;
    background-color: #fb1b1b;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:10px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  .card {
    position: relative;
    width: calc(20% - 10px);
    background-color: rgb(244, 244, 244);
    border: solid 1px lightgray;
    padding: 10px;
    margin: 5px;

    .card-name {
      white-space: nowrap;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button {
      all: unset;
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
      position: absolute;
      padding: 10px;
      line-height: 1;
      cursor: pointer;
      background-color: lightgreen;
    }

    .hidden {
      display: none;
    }
  }
}

.collection-container {
  display: flex;
  flex-wrap: wrap;

  .card {
    position: relative;
    width: calc(20% - 10px);
    background-color: rgb(244, 244, 244);
    border: solid 1px lightgray;
    padding: 10px;
    margin: 5px;

    .card-name {
      white-space: nowrap;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .update {
      all: unset;
      top: auto;
      left: 0;
      bottom: 0;
      right: auto;
      position: absolute;
      padding: 10px;
      line-height: 1;
      cursor: pointer;
      background-color: lightgreen;
    }

    .delete {
      all: unset;
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
      position: absolute;
      padding: 10px;
      line-height: 1;
      cursor: pointer;
      background-color: lightcoral;
    }

    .hidden {
      display: none;
    }
  }
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:50px;
  line-height: 1;
  align-content: center;
  }